.remark-notes {
    font-size: 16pt;
}

.left_side_list {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.left_side_list ul {
    margin-top: 0px;
    margin-bottom: 0px;
}
.left_side_list ul li{
    margin-top: 20px;
    margin-bottom: 20px;
}
/* second level of list should have smaller margins: */
.left_side_list li > ul li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.source_txt {
    font-size: 10pt;
    text-align: left;
}

.full_slide_img {
    text-align: center;
}

.left_side_img img {
    float: left;
}

.right_side_img img {
    float: right;
}

#slide-openstack_general h1 {
    text-align: left;
}
#slide-openstack_general p {
    text-align: justify;
}
#slide-openstack_general img {
    width: 70%;
}

#slide-openstack_main_components img {
    width: 75%;
}

#slide-sdn_definition .left_side_img img {
    margin-top: 20px;
    width: 60%;
}

#slide-sdn_definition .right_side_img img {
    margin-top: 20px;
}

